<html>
    <body>
        <h1>Gopi's Individual Assignment</h1>
        <h2>Credit Card Default Predictor</h2>
        <form action="/" method="post">
            <p>Income:&nbps;<input type="text" name="income" /></p>
            <p>Age:&nbps;<input type="text" name="age" /></p>
            <p>Loan:&nbps;<input type="text" name="loan" /></p>
            <p>
                <input type="submit" value="Predict" />
            </p>
        </form>
        <p>CART Prediction: {{result_cart}}</p>
        <p>Randome Forest Prediction: {{result_rf}}</p>
        <p>Gradient Boost: {{result_gb}}</p>
        <p>Log Regression Prediction: {{result_logreg}}</p>
    </body>
</html>